<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${user.id}"></td>
                    <th>手机号码</th>
                    <td th:text="${user.userPhone}"></td>
                </tr>
                <tr>
                    <th>OpenId</th>
                    <td th:text="${user.openId}"></td>
                    <th>用户头像</th>
                    <td th:text="${user.userHeadUrl}"></td>
                </tr>
                <tr>
                    <th>是否删除</th>
                    <td th:text="${user.isDeleted}"></td>
                    <th>备注</th>
                    <td th:text="${user.remarks}"></td>
                </tr>
                <tr>
                    <th>昵称</th>
                    <td th:text="${user.nickName}"></td>
                    <th>性别</th>
                    <td th:text="${user.sex}"></td>
                </tr>
                <tr>
                    <th>国家</th>
                    <td th:text="${user.country}"></td>
                    <th>省份</th>
                    <td th:text="${user.province}"></td>
                </tr>
                <tr>
                    <th>城市</th>
                    <td th:text="${user.city}" colspan="3"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(user.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(user.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>