<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/ClockIn/clockIn/add}">
        <input type="hidden" name="id" th:if="${clockIn}" th:value="${clockIn.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">OpenId</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" readonly name="openId" placeholder="请输入OpenId" th:value="${clockIn?.openId}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户昵称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" readonly name="nickName" placeholder="请输入用户ID" th:value="${clockIn?.nickName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动ID</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" readonly name="activityId" placeholder="请输入活动ID" th:value="${clockIn?.activityId}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item">
                <label class="layui-form-label">审核状态</label>
                <div class="layui-input-inline">
                    <select name="clockStatus" >
                        <option value=""></option>
                        <option value="0" th:selected="${clockIn?.clockStatus==0}">审核中</option>
                        <option value="1" th:selected="${clockIn?.clockStatus==1}">审核通过</option>
                        <option value="2" th:selected="${clockIn?.clockStatus==2}">审核拒绝</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">打卡照片</label>
            <div class="layui-input-inline">
                <img th:src="${clockIn?.clockInUrl}" width="300">
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>