<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${clockIn.id}"></td>
                    <th>OpenId</th>
                    <td th:text="${clockIn.openId}"></td>
                </tr>
                <tr>
                    <th>用户ID</th>
                    <td th:text="${clockIn.userId}"></td>
                    <th>活动ID</th>
                    <td th:text="${clockIn.activityId}"></td>
                </tr>
                <tr>
                    <th>打卡照片</th>
                    <td colspan="3">
                        <img th:src="${clockIn.clockInUrl}" width="300">
                    </td>
                </tr>
                <tr>
                    <th>打卡时间</th>
                    <td th:text="${#dates.format(clockIn.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(clockIn.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>